{% extends "flame_site/base.html" %}

{% load wagtailcore_tags %}




{% block content %}
    <article id="writeup-article">
        <h1>{{ page.title }}</h1>
        
        <div id="difficulty-span-parent">
            <span id="category-span" style="margin-right: 5px">
                {{ subcategory }}
            </span>
            <span id="difficulty-span-{{ difficulty }}">
                {{ difficulty }}
            </span>
        </div>


        <div id="authors">
            <h4>Author{{ authors|pluralize }}: {{ authors|join:", " }}</h4>
        </div>


        <div class="content">
            {% for block in page.body %}
                <section class="block-{{ block.block_type }}">
                    {% include_block block %}
                </section>
            {% endfor %}
        </div>
    </article>
{% endblock %}