
{% load wagtailcore_tags %}

{% block extra_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
    <article style="width:50%; padding:auto">
        <h1>{{ page.title }}</h1>
        
        <div class="authors">
            <p>Author{{ authors|pluralize }}: {{ authors|join:", " }}</p>
        </div>

        <div class="content">
            {% for block in page.body %}
                <section class="block-{{ block.block_type }}">
                    {% include_block block %}
                </section>
            {% endfor %}
        </div>
    </article>
{% endblock %}