{% extends "blogs/base.html" %}

{% load wagtailcore_tags %}




{% block content %}
    <div id="writeup-container">
        <article id="writeup-article">
            <h1>{{ page.title }}</h1>
            
            {% if blog_type %} <!--the welcome page does not need this extra information-->
            <div id="difficulty-span-parent">
                <span id="category-span">
                    {{ blog_type }}
                </span>
            </div>
            


            <div id="authors">
                <h4>Author{{ authors|pluralize }}: {{ authors|join:", " }}</h4>
            </div>
            
            <div id="datetime-container">
                <h5>Published: 
                    <time datetime="{{ page.date|date:'c' }}">
                        {{ page.date|date:"M-d Y" }} 
                    </time>
                </h5>
            </div>
            {% endif %}

            <div class="content">
                {% for block in page.body %}
                    <section class="block-{{ block.block_type }}">
                        {% include_block block %}
                    </section>
                {% endfor %}
            </div>
        </article>
    </div>
{% endblock %}