{% extends "flame_site/base.html" %}

{% load wagtailcore_tags %}




{% block content %}
    <div id="writeup-container">
        <article id="writeup-article">
            <h1>{{ page.title }}</h1>


            <div class="content">
                {% for block in page.body %}
                    <section class="block-{{ block.block_type }}">
                        {% include_block block %}
                    </section>
                {% endfor %}
            </div>
            <p class="return-link"><a href="{{ parent_blog.url }}">Click here to go back to "{{ parent_blog.title }}"</a></p>
        </article>
    </div>
{% endblock %}