{% extends "flame_site/base.html" %}

{% load static %}

{% block content %}
    

    <div class="team-container">
        <h1 class="team-heading">Meet Our Team</h1>
        <p class="team-description">
            Our team consists of 4 members
        </p>

        <!-- Team Grid -->
        <div class="team-grid">
            {% if member_list %} {% for member in member_list %}
            <label>
                <div class="team-card">
                    <input type="checkbox" class="checkbox" />
                    <img src="{{ member.image.url }}" alt="Image here" class="team-image">
                    <h2 class="team-member-name">{{ member }}</h2>
                    <div class="team-description-popup">
                        <div class="blog-button-container">
                            <div class="uni-button">
                                <img src="{{ member.university.logo.url }}" alt="{{ member.university.initials }}"/>
                            </div>
                            <a class="blog-button">
                                <button> {{ member.first_name }}'s Blogs</button>
                            </a>
                            <div class="uni-button2">
                                {{ member.major.initials }}
                            </div>
                        </div>
                        <div id="social-icons">
                            <a href="{{ member.github }}" id="icon-github" target="_blank">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="{{ member.linkedin }}" id="icon-linkedin" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </label>

            {% endfor %} {% endif %}
        </div>
    </div>

    

{% endblock %}

