{% extends "flame_site/base.html" %}

{% load static %}

{% block content %}
    

    <div class="team-container">
        <h1 class="team-heading">Meet Our Team</h1>
        <p class="team-description">
            Our team consists of 4 members
        </p>

        <!-- Team Grid -->
        <div class="team-grid">
            {% if member_list %} {% for member in member_list %}
            <label>
                <div class="team-card">
                    <input type="checkbox" class="checkbox" />
                    {% load static %}
                    <img src="{% static member.image.url %}" alt="Image here" class="team-image">
                    <h2 class="team-member-name">{{ member }}</h2>
                    <div class="team-description-popup">
                        <div class="blog-button-container">
                            <a class="blog-button">
                                <button> {{ member.first_name }}'s Blogs</button>
                            </a>
                        </div>
                        <div id="social-icons">
                            <a href="#" id="icon-github">
                                <i class="fab fa-github"></i>
                            </a>
                            <a href="#" id="icon-email">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                            <a href="#" id="icon-linkedin">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </label>

            {% endfor %} {% endif %}
        </div>
    </div>

    

{% endblock %}

